.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 2rem;
}



.custom-spinner {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    border: .3125rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.load-more-button {
    display: block;
    margin: .625rem auto;
    padding: .625rem 1.25rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.load-more-button:hover {
    background-color: #0056b3;
}